{{#if userLogin}}
    <form action="" method="POST" class="formularzTworzeniaMisji">
        <div class="mb-3">
            <label for="nazwa" class="form-label">Nazwa*</label>
            <input
            type="text"
            class="form-control"
            name="nazwa"
            id="nazwa"
            required
            />
        </div>
        <div class="mb-3">
            <label for="opis" class="form-label">Opis*</label>
            <textarea
            type="textarea"
            class="form-control"
            name="opis"
            id="opis"
            required></textarea>
        </div>
        <div class="mb-3">
            <label for="terminRozpoczecia" class="form-label">Termin Rozpoczęcia*</label>
            <input
            type="date"
            class="form-control"
            name="terminRozpoczecia"
            id="terminRozpoczecia"
            required
            />
        </div>
    </form>
{{/if}}