{{#if privileged}}
{{#if message}}
<div class="alert alert-danger" role="alert">
  {{message}}
</div>
{{/if}}
    <form action="" method="POST" class="formularzTworzeniaMisji">
        <div class="mb-3">
            <label for="nazwa" class="form-label">Nazwa*</label>
            <input
            type="text"
            class="form-control"
            name="nazwa"
            id="nazwa"
            required
            />
        </div>
        <div class="mb-3">
            <label for="opis" class="form-label">Opis*</label>
            <textarea
            type="textarea"
            class="form-control"
            name="opis"
            id="opis"
            required></textarea>
        </div>
        <div class="mb-3">
            <label for="terminRozpoczecia" class="form-label">Termin Rozpoczęcia*</label>
            <input
            type="date"
            class="form-control"
            name="terminRozpoczecia"
            id="terminRozpoczecia"
            min="{{date}}"
            required
            />
        </div>
        <div class="mb-3">
            <label for="terminZakonczenia" class="form-label">Termin Zakończenia (planowany)*</label>
            <input
            type="date"
            class="form-control"
            name="terminZakonczenia"
            id="terminZakonczenia"
            min="{{date}}"
            required
            />
        </div>
        <div class="text-center mb-3">
            <button class="btn btn-lg btn-primary">Stwórz</button>
        </div>
    </form>
    <div class="text-center">
        <a href="/wzorce" class="btn btn-lg btn-primary" role="button">Skorzystaj ze wzorca misji</a>
    </div>
{{else}}
    <div class="alert alert-danger mt-3" role="alert">
        Nie masz uprawnień do tej strony
    </div>
{{/if}}
<div class="text-center">
    <a href="/panel">Powrót</a>
</div>