{{#if userLogin}}
    <h1 class="title">Użytkownicy</h1>
    <table>
        <th>ID</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Szczegóły</th>
    {{#each crew}}
        <div class="user">
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.imie}}</td>
                <td>{{this.nazwisko}}</td>
                <td><a href="userDetails?id={{this.id}}">Więcej szczegółów</td>
            </tr>
        </div>
    {{/each}}
    </table>
    {{#if isSuperAdmin}}
        <h1>Hello World</h1>
    {{/if}}
{{/if}}

<div class="text-center" style="margin-top: 3%">
    <a href="/panel">Powrót</a>
</div>
<style>
        body {
            font-size: 15px;
        }
        h2 {
            font-size: 21px;
            font-weight: 600;
        }
        h4 {
            font-size: 18px;
            font-weight: 600;
        }
        div {
            background-color: #fefefe;
        }
        td {
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #111;
        }

</style>