<!DOCTYPE html>
{{#if error}}
  <div class="alert alert-danger mt-3" role="alert">
    {{error}}
  </div>
{{/if}}
<form action="" method="POST">
  <div class="mb-3">
    <label for="cena" class="form-label">Imie</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
  </div>
  <div class="mb-3">
    <label for="cena" class="form-label">Nazwisko</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
  </div>
  <div class="mb-3">
    <label for="cena" class="form-label">Ulica</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
  </div>
  <div class="mb-3">
    <label for="cena" class="form-label">Numer Domu</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
  </div>
  <div class="mb-3">
    <label for="cena" class="form-label">Numer Mieszkania</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
  </div>
  <div class="mb-3">
    <label for="cena" class="form-label">Miasto</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
    </div>
    <div class="mb-3">
    <label for="cena" class="form-label">Kod Pocztowy</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
  </div>
  <div class="mb-3">
    <label for="cena" class="form-label">Rodzaj Użytkownika</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
  </div>
  <div class="mb-3">
    <label for="cena" class="form-label">Specjalizacja</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
  </div>
  <div class="mb-3">
    <label for="cena" class="form-label">Szef ID</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
  </div>
  <div class="mb-3">
    <label for="cena" class="form-label">Haslo</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
  </div>
    <div class="mb-3">
    <label for="cena" class="form-label">Login</label>
    <input
      type="text"
      class="form-control"
      name="password"
      id="cena"
      required
    />
  </div>
  <div class="text-center mb-3">
    <button class="btn btn-lg btn-primary">Stwórz</button>
  </div>
  <div class="text-center">
    <a href="/">Powrót</a>
  </div>
</form>