{{#if error}}
  <div class="alert alert-danger mt-3" role="alert">
    {{error}}
  </div>
{{/if}}
<form action="" method="POST">
  <div class="mb-3">
    <label for="imie" class="form-label">Imie</label>
    <input
      type="text"
      class="form-control"
      name="imie"
      id="imie"
      required
    />
  </div>
  <div class="mb-3">
    <label for="nazwisko" class="form-label">Nazwisko</label>
    <input
      type="text"
      class="form-control"
      name="nazwisko"
      id="nazwisko"
      required
    />
  </div>
  <div class="mb-3">
    <label for="ulica" class="form-label">Ulica</label>
    <input
      type="text"
      class="form-control"
      name="ulica"
      id="ulica"
      required
    />
  </div>
  <div class="mb-3">
    <label for="numerDomu" class="form-label">Numer Domu</label>
    <input
      type="text"
      class="form-control"
      name="numerDomu"
      id="numerDomu"
      required
    />
  </div>
  <div class="mb-3">
    <label for="numerMieszkania" class="form-label">Numer Mieszkania</label>
    <input
      type="text"
      class="form-control"
      name="numerMieszkania"
      id="numerMieszkania"
      required
    />
  </div>
  <div class="mb-3">
    <label for="miasto" class="form-label">Miasto</label>
    <input
      type="text"
      class="form-control"
      name="miasto"
      id="miasto"
      required
    />
    </div>
    <div class="mb-3">
    <label for="kodPocztowy" class="form-label">Kod Pocztowy</label>
    <input
      type="text"
      class="form-control"
      name="kodPocztowy"
      id="kodPocztowy"
      required
    />
  </div>
  <div class="mb-3">
    <label for="rodzajUzytkownika" class="form-label">Rodzaj Użytkownika</label>
    <input
      type="text"
      class="form-control"
      name="rodzajUzytkownika"
      id="rodzajUzytkownika"
      required
    />
  </div>
  <div class="mb-3">
    <label for="specjalizacja" class="form-label">Specjalizacja</label>
    <input
      type="text"
      class="form-control"
      name="specjalizacja"
      id="specjalizacja"
      required
    />
  </div>
  <div class="mb-3">
    <label for="SzefId" class="form-label">Szef ID</label>
    <input
      type="number"
      class="form-control"
      name="SzefId"
      id="SzefId"
    />
  </div>
  <div class="mb-3">
    <label for="haslo" class="form-label">Haslo</label>
    <input
      type="text"
      class="form-control"
      name="haslo"
      id="haslo"
      required
    />
  </div>
    <div class="mb-3">
    <label for="login" class="form-label">Login</label>
    <input
      type="text"
      class="form-control"
      name="login"
      id="login"
      required
    />
  </div>
  <div class="text-center mb-3">
    <button class="btn btn-lg btn-primary">Stwórz</button>
  </div>
  <div class="text-center">
    <a href="/">Powrót</a>
  </div>
</form>