<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{#each crew}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.imie}}</td>
                    <td>{{this.nazwisko}}</td>
                </tr>
            {{/each}}
            {{#if isSuperAdmin}}
                <h1>Hello World</h1>
            {{/if}}
        </div>
    </div>
</nav>